@{
    ViewData["Title"] = "Home Page";
}
<script type="text/javascript" src="/Users/tiinakaamilainen/Desktop/MVC/wwwroot/js/hello.ts"></script>


<div class="text-center">
    <h1 class="display-4">Buuu</h1>
    <p>Le <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
